<div role="navigation" class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul id="side-menu" class="nav">
            <li>
                <a href="{{ path('organizations_index') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-outdent fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Organizations</span>
                    <span class="sidebar-item-subtitle">View & Search organizations</span>
                </a>
            </li>
            <li>
                <a href="{{ path('organizations_add') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Create Organization</span>
                    <span class="sidebar-item-subtitle">Create a new organization</span>
                </a>
            </li>
            <li>
                <a href="{{ path('organizations_office_index') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Offices</span>
                    <span class="sidebar-item-subtitle">View & manage organization offices </span>
                </a>
            </li>
            <li>
                <a href="{{ path('organizations_office_add') }}" class="active">
                                    <span class="sidebar-item-icon fa-stack">
                                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                    <span class="sidebar-item-title">Create Office</span>
                    <span class="sidebar-item-subtitle">Create new office for organization</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!--@menu-->